<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/home.css">
    <title>Live Weather</title>
</head>
<body>

    <div class="regform">
        <h1>Live Weather</h1>
    </div>

    <form action="/predict_weather" class="main-form" method="POST">
        <div class="text-center">
            <input type="text" id="location" name="location" placeholder="Enter Location..." class="input-field">
            <button type="submit" class="btn-outline-success">Search</button>
        </div>
    </form>

    <br>

    {% if error %}
    <div class="error-message">
        <h2>{{ error }}</h2>
    </div>
    {% endif %}

    {% if name %}
    <div class="weather-info">
        <h1>Temperature in {{ name }}</h1>

        <div class="weather-details">
            <h2>{{ temp_c }}°C <img src="{{ condition_icon }}"> {{ condition_text }}</h2>
            <p>Last Updated - <i>{{ last_updated }}</i></p>
        </div>

        <div class="row text-center weather-extra">
            <!-- Region, Time Zone, and Local Time together -->
            <div class="col">
                <p>Region: {{ region }} / {{ country }}</p>
                <p>Time Zone: {{ tz_id }}</p>
                <p>Local Time: {{ localtime }}</p>
            </div>

            <!-- Humidity, Feels Like, and Precipitation together -->
            <div class="col">
                <p>Humidity: {{ humidity }}%</p>
                <p>Feels Like: {{ feelslike_c }}°C</p>
                <p>Precipitation: {{ precip_mm }}mm</p>
            </div>
        </div>

        <!-- Future Forecast separately -->
        <div class="row text-center weather-forecast">
            <div class="col">
                <p>Tomorrow: {{ TomHi }}°C / {{ TomLo }}°C <img src='{{TomCon}}'></p>
            </div>
            <div class="col">
                <p>Day After: {{ DAHi }}°C / {{ DALo }}°C <img src='{{DACon}}'></p>
            </div>
            <div class="col">
                <p>{{N2N}}: {{ N2NHi }}°C / {{ N2NLo }}°C <img src='{{N2NCon}}'></p>
            </div>
        </div>

    </div>
{% endif %}

</body>
</html>
